<!DOCTYPE html>
<html>
	<head>
		<title>RecipeApp</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link href="/stylesheets/main.css" rel="stylesheet">
		<script src="https://cdn.tiny.cloud/1/vwldy0at9xgh1ir7qehimm5kvuqqzrvp1i3iimh2v0xdhrx4/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

		<script>
			tinymce.init({
			  selector: 'textarea',
			  body_class: 'textarea-description',
			  toolbar: false,
			  menubar: false
			});
		</script>
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">RecipeApp</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<% if(!currentUser){ %>
						<li><a href="/login">Login</a></li>
						<li><a href="/register">Sign Up</a></li>
						<% } else { %>
						<li><a href="#">Signed In As: <%= currentUser.username %></a></li>
						<li><a href="/logout">Logout</a></li>
						<% } %>
					</ul>
				</div>
			</div>
</nav>
	</body>
