<%- include("../partials/header") %>

<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Welcome to RecipeApp</h1>
			<p>
				A collection of delicious recipes from all around the globe
			</p>
			<p>
				<a class="btn btn-primary btn-lg" href="/recipes/new">Add new Recipe</a>	
			</p>
		</div>
	</header>

	<div class="container">
		<div class="row" style="display:flex; flex-wrap: wrap;">
			<% recipes.forEach(function(recipe){ %>
				<div class="col-md-6 col-sm-12 container-border">
					<a href="/recipes/<%= recipe._id %>">
						<div class="container">
							<img class="img-responsive img-rounded img-fixed center-block" src="<%= recipe.image %>">
						</div>
					</a>
				</div>	
			<% }) %>
		</div>
	</div>
</div>

<div class="container">
	<%- include("../partials/footer") %>
</div>
